@media(min-width:1400px) {
    .stats__container {
        width: 700px;
        height: 600px;
    }


    .stats__info h2 {
        padding-top: 15px;
        font-size: 2rem;
    }


    .stats__img__type {
        padding-block: 10px;
    }


    .stats__img__type img {
        width: 150px;
        height: 150px;
    }


    .stats__img__logo img:first-child {
        height: 100px;
        width: 100px;
    }


    .more__info--button,
    .base__stats--button,
    .species--class,
    .height--class,
    .weight--class,
    .abilities--class,
    .stats_bars h3 {
        font-size: 1.3rem;
    }


    .stats_bars {
        padding-inline: 30px;
    }


    .stats_bars div {
        font-size: 1rem;
        height: 25px;
    }


    .base__stats--container {
        padding-block: 10px;
    }
}


@media(max-width:800px) {
    .footer__links {
        width: 135px;
    }


    .footer__mid {
        gap: unset;
    }
}


@media(max-width:675px) {
    .header__container {
        padding-inline: 30px;
    }


    .switch__wrapper {
        position: absolute;
        top: 85px;
        right: 0px;
        left: 0px;
        backdrop-filter: blur(5px);
    }

    .switch__pokemonsList {
        align-items: center;
        justify-content: end;
        gap: 50px;
        width: 100%;
        padding-inline: 50px;
    }


    .logo__wrapper img:last-child {
        height: 5rem;
    }


    .search__wrapper input {
        font-size: 0.9rem;
        padding-left: 10px;
        padding-block: 5px;
        width: 210px;
    }


    .cards__wrapper {
        margin-top: 120px;
    }


    .card__container {
        width: 100%;
    }


    .name_logo {
        display: none;
    }


    .footer__portfolio {
        width: unset;
    }


    .footer__links {
        justify-content: end;
        gap: 15px;
        width: 100px;
        width: unset;
    }


    .footer__mid {
        font-size: 0.8rem;
    }
}


@media(max-width:480px) {

    .search__wrapper {
        position: absolute;
        top: 85px;
        padding-block: 15px;
        left: 0;
        right: 0;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(5px);
    }


    .search__wrapper input {
        width: 80%;
        background-color: rgba(0, 0, 0, 0.1);
    }


    .search__wrapper input::placeholder{
        color: black;
    }

    .search__wrapper input:hover,
    .search__wrapper input:focus {
        background-color: white;
    }


    .switch__wrapper {
        top: 50px;
    }


    .cards__wrapper {
        margin-top: 150px;
    }


    .stats__container {
        width: 370px;
    }


    .abilities--class {
        white-space: pre-wrap;
        text-align: center;
    }


    .footer__links {
        flex-direction: column;
    }
}


@media(max-width:410px) {
    .header__container {
        padding-inline: 0px;
    }


    .logo__wrapper {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-inline: 30px;
        width: 100%;
    }


    .stats__container {
        width: 90vw;
        height: 500px;
    }


    .card__container--img img {
        height: 80%;
        align-self: center;
    }


    .card__container--show_stats {
        width: 100px;
    }


    .stats__container h3 {
        font-size: 0.8rem;
    }


    .stats__img__type img {
        width: 70px;
        height: 70px;
    }


    .stats__img__logo img:nth-child(1) {
        height: 40px;
        width: 40px;
    }


    .stats_bars {
        gap: 5px;
    }


    .stats__buttons {
        padding-inline: 10px;
    }


    .stats__img__logo img:nth-child(2) {
        height: 20px;
        width: 20px;
    }

    .more__info--button,
    .base__stats--button,
    .species--class,
    .height--class,
    .weight--class,
    .abilities--class,
    .stats_bars h3 {
        font-size: 0.9rem;
    }


    .type__element p {
        font-size: 0.8rem;
    }


    .info__and__stats button {
        font-size: 0.9rem;
    }


    .more__info--container {
        justify-content: flex-end;
    }

    .stats_bars>div,
    .more__info--container>div {
        flex-direction: column;
        gap: 5px;
    }
}