/* Classes for the Stats Area */
.stats__wrapper {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}


.stats__container {
    display: flex;
    width: 400px;
    height: 500px;
    z-index: 11;
    background-color: aliceblue;
    border-radius: 20px;
}


.stats__wrapper {
    display: flex;
}


.stats__show {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: inherit;
    border-radius: 20px;
    background-image: linear-gradient(45deg, var(--base-color), white, var(--base-color));
}


.stats__info {
    min-width: 100%;
    padding-inline: 35px;
}


.stats__img__type {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.stats__img__type img {
    width: 100px;
    height: 100px;
}


.stats__img-container {
    height: 70%;
}


.stats__img__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}


.stats__img__logo img:nth-child(1) {
    height: 70px;
    width: 70px;
}


.stats__img__logo img:nth-child(2) {
    height: 30px;
    width: 30px;
    transition: transform 600ms ease-in-out;
}


.stats__img__logo img:nth-child(2):hover {
    transform: rotate(720deg);
}


.stats__buttons {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    padding-inline: 20px;
    padding-block: 5px;
    justify-content: space-between;
}


.stats__buttons button {
    border: none;
    background-color: unset;
    transition: transform 225ms ease-in-out;
}


.stats__buttons button:hover {
    transform: scale(1.1);
}


.flip_img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.blur {
    filter: blur(3px) !important;
    -webkit-filter: blur(3px);
}


.about__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}


.info__and__stats {
    display: flex;
    width: 100%;
}


.base__stats--container {
    padding-top: 20px;
    font-size: 1.2rem;
    height: 100%;
}


.more__info--button,
.base__stats--button {
    flex: 1;
    border: none;
    border-block: 2px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background-color: transparent;
}


.more__info--button:hover,
.base__stats--button:hover {
    background-color: rgba(0, 0, 0, 0.4)
}


.more__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}


.abilities--class {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    height: auto;
    white-space: nowrap;
}


.abilities--class p {
    white-space: pre;
    text-align: justify;
}


.species--class,
.height--class,
.weight--class,
.abilities--class {
    display: flex;
    align-items: center;
    gap: 5px;
}


.species--class h3,
.species--class p,
.height--class h3,
.height--class p,
.weight--class h3,
.weight--class p,
.abilities--class h3,
.abilities--class p {
    margin: 0;
    padding-block: 5px;
    font-size: 1.2rem;
}


.stats_bars {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-inline: 10px;
    height: 100%;

}

.stats_bars>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.stats_bars h3 {
    margin: 0;
    width: 35%;
    font-size: 1.2rem;
    white-space: nowrap;
}


.progress {
    display: flex;
    flex-direction: column;
    width: 55%;
}


.progress-bar {
    color: black !important;
}


.heighlight {
    background-color: rgba(0, 0, 0, 0.1);
}