{% extends "layout.html"%}

{% block main %}

<div class="impressum">

    <h1>Disclaimer</h1>

    <h2>Purpose of the website:</h2>
    <br>
    <p>
        This website represents the 'Final Project' as part of Harvard's CS50.
    </p>
    <br>

    <h2>Credit to:</h2>
    <p>
        PokeAPI: <a href="https://pokeapi.co/" target="_blank">https://pokeapi.co/</a>
    </p>
    <p>
        Pokemon: <a href="https://www.pokemon.com/" target="_blank">https://www.pokemon.com/</a>
    </p>

</div>
{% endblock %}