{% block footer %}


<footer class="header__container footer">
    <div class="footer__portfolio">
        <a href="https://www.corneliu-zediu.com" target="_blank"><img src="./static/source/img/logo_white.png">
            <p>Portfolio</p>
        </a>
    </div>

    <!-- Copyrights & Impressum & Disclaimer -->
    <div class="footer__mid">
        <div>&#9400; Copyright Corneliu Zediu</div>
        <div class="footer__mid--links">
            <a href="/impressum"> Impressum </a>
            <a href="/disclaimer"> Disclaimer </a>
            <a href="/out/index.html" target="_blank"> Documentation </a>
        </div>

    </div>

    <!-- Links of website creator -->
    <div class="footer__links">
        <a href="https://github.com/corneliuzediu" target="_blank"><img src="./static/source/img/github_logo_white.png">
            <p class="name_logo">Github</p>
        </a>
        <a href="https://www.linkedin.com/in/corneliuzediu" target="_blank"><img src="./static/source/img/linkedin_logo_white.png">
            <p class="name_logo">LinkedIn</p>
        </a>
    </div>
</footer>

{% endblock %}